body {
    /* background-color: bisque; */
    font-family: 'Poppins', sans-serif !important;
}
.navbar {
    font-family: Nunito Sans;
    /* font-weight: 700; */


}

nav .navbar-nav li a {
    color: black !important;
    margin: 10px 0px;
    margin-right: 20px !important;

}

.submenu{
    text-decoration: none;
    color: white;
}

#footer {
    background-color: #1C1B17;
    color: #F8F9FA;
    padding: 20px;
}

#btnnnn{
    color: white;   
    margin: 10px 0px;
}